.idea/
Task_Manager/base_api/__pycache__/
Task_Manager/src/__pycache__/
Task_Manager/src/task_manager.db
Task_Manager/src/database/__pycache__/
Task_Manager/src/users/__pycache__/
Task_Manager/current_datetime/__pycache__/current_datetime.cpython-310.pyc
Task_Manager/src/routers/__pycache__/
Task_Manager/src/log/
Task_Manager/src/test_database.db
Task_Manager/src/tests/__pycache__/
Task_Manager/current_datetime/
Task_Manager/base_api/
