{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">

    <h1 class="ui center aligned header green">Авторизация пользователя</h1>

    <form class="ui form" action="http://0.0.0.0:8080/auth" method="post">
      <div class="field">
        <input type="email" name="username" placeholder="Email"><br>
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="Password"><br>
      </div>
        <button class="ui teal basic button" type="submit">Авторизоваться</button>
    </form>
</div>

{% endblock content %}
