{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">

    <h1 class="ui center aligned header blue">Авторизация пользователя</h1>

    <form class="ui form" action="{{ url_for('auth') }}" method="post">
      <div class="field">
        <input type="email" name="username" placeholder="Email"><br>
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="Password"><br>
      </div>
        <button class="ui black button" type="submit">Авторизоваться</button>
    </form>
</div>

<div style="margin-top: 15px;" class="ui container">
    <a class="ui yellow button" href="{{ url_for('start') }}">На главную</a>
</div>

{% endblock content %}
