{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header black">Авторизация пользователя</h1>
</div>

<form action="{{ url_for('auth') }}" method="post">
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <div class="div_notification">
        {% if empty_creds == True %}
            <h3>Для авторизации необходимо ввести email и пароль! Пожалуйста, попробуйте снова!</h3>
        {% endif %}
        {% if incorrect_creds == True %}
            <h3>Неправильно указан адрес электронной почты или пароль! Пожалуйста, попробуйте снова!</h3>
        {% endif %}
    </div>
    <button class="common_button" type="submit">Авторизоваться</button>
</form>


<form action="{{ url_for('start') }}" method="get">
    <button class="on_start_button" type="submit">На главную</button>
</form>

{% endblock content %}
